[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
streamlit = "*"
SQLAlchemy = "*"
Pillow = "*"


[requires]
python_version = "3.8"
unixodbc = "*"
unixodbc-dev="*"
pyodbc = "*"